@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--  EDIT MODAL -->
<div class="modal fade" id="modal-edit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit-e" enctype="multipart/form-data" action="@Url.Action("EditEmployee","Admin")" method="POST">
                <div class="modal-body">
                    <input type="text" hidden class="form-control" id="EmpId" name="EmpId">
                    <div class="form-group">
                        <label for="InputUsername">User Name</label>
                        <input type="text" class="form-control" id="EmpUsername" name="EmpUsername" placeholder="Enter User Name...">
                    </div>
                    <div hidden class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control" id="EmpPass" name="EmpPass" placeholder="Password...">
                    </div>
                    <div class="form-group">
                        <label for="InputFullname">Full Name</label>
                        <input type="text" class="form-control" id="EmpFullname" name="EmpFullname" placeholder="Full Name...">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Email</label>
                        <input type="email" class="form-control" id="EmpEmail" name="EmpEmail" placeholder="Email...">
                    </div>
                    <div class="form-group">
                        <label for="InputPhone">Phone Number</label>
                        <input type="text" class="form-control" id="EmpPhone" name="EmpPhone" placeholder="Phone Number...">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea id="EmpAddress" name="EmpAddress" class="form-control" rows="2" placeholder="Enter Address..."></textarea>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="InputAvatar">Avatar</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="EmpAvatarStream" name="EmpAvatarStream">
                                        <label class="custom-file-label" for="InputFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div hidden class="col-sm-6">
                            <div class="form-group">
                                <label>Status</label>
                                <select id="EmpStatus" name="EmpStatus" class="custom-select">
                                    <option>Active</option>
                                    <option>DeActive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="submit" class="btn btn-primary " id="btn-edit">Save changes</button>*@
                    <button id="btn-edit" type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- POPUP MSG EDIT SUCCESS -->
<div class="modal fade" id="modal-default-edit-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Edit successfully !</p>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<!-- ADD MODAL -->
<div class="modal fade" id="modal-lg-add">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-a" enctype="multipart/form-data" action="@Url.Action("AddEmployee","Admin")" method="POST">
                <div class="modal-body">
                    <div class="card-body">

                        <input type="text" hidden class="form-control" id="EmpId" name="EmpId">
                        <div class="form-group">
                            <label for="InputUsername">User Name</label>
                            <input type="text" class="form-control" name="EmpUsername" placeholder="Enter User Name...">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Password</label>
                            <input type="password" class="form-control" name="EmpPass" placeholder="Password...">
                        </div>
                        <div class="form-group">
                            <label for="InputFullname">Full Name</label>
                            <input type="text" class="form-control" name="EmpFullname" placeholder="Full Name...">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email</label>
                            <input type="email" class="form-control" name="EmpEmail" placeholder="Email...">
                        </div>
                        <div class="form-group">
                            <label for="InputPhone">Phone Number</label>
                            <input type="text" class="form-control" name="EmpPhone" placeholder="Phone Number...">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea name="EmpAddress" class="form-control" rows="2" placeholder="Enter Address..."></textarea>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                    <label for="InputAvatar">Avatar</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="EmpAvatarStream" name="EmpAvatarStream">
                                            <label id="" name="" class="custom-file-label" for="InputFile" style=" color: darkgray;">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="EmpStatus" name="EmpStatus" class="custom-select">
                                            <option>Active</option>
                                            <option>DeActive</option>
                                        </select>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btn-add" type="submit" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- POPUP MSG ADD SUCCESS -->
<div class="modal fade" id="modal-default-add-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Add successfully !</p>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<!-- DELETE MODAL -->
<div class="modal fade" id="modal-delete">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Are you sure to delete?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button id="delete-d" type="submit" class="btn btn-primary">Delete</button>*@
                <button id="delete-d" type="submit" class="btn btn-primary">
                    Delete
                </button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- POPUP MSG DELETE SUCCESS -->
<div class="modal fade" id="modal-sm-del-success">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Delete Successfully !</p>
            </div>
            <div class="modal-footer justify-content-end">
                <button id="delete-d" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<!-- PASSWORD MODAL -->
<div class="modal fade" id="modal-password">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change your password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="password-p" enctype="multipart/form-data" action="@Url.Action("PasswordEmployee","Admin")" method="POST">
                <div class="modal-body">
                    <input type="text" hidden class="form-control" id="EmpId" name="EmpId">
                    <div class="form-group">
                        <label for="EmpPass" class=" col-form-label">New password</label>
                        <input type="password" class="form-control" id="EmpPass" name="EmpPass" placeholder="Password">

                    </div>
                    <div class="form-group">
                        <label for="EmpCofPass" class=" col-form-label">Confirm password</label>
                        <input type="password" class="form-control" id="EmpCofPass" name="EmpCofPass" placeholder="Confirm password">

                    </div>
                    <p id="confirm-pass" style="display:none;color:red"></p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" id="close-em" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btn-password" type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- POPUP MSG PASSWORD SUCCESS -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đổi mật khẩu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Chỉnh xửa thông tin thành công</p>
            </div>
            <div class="modal-footer justify-content-end">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

